<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>288 Worship</title>
      <meta charset="utf-8"/>
      <link href="../../css/photon.css" rel="stylesheet"> 
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script>require('./refresh.js')</script>
    </head>
    <body>
      <div class="window">
        <header class="toolbar toolbar-header">
          <div class="toolbar-actions">
            <button id="home" class="btn btn-large btn-default">
              <span class="icon icon-home"></span>
            </button>
            <button id="register" class="btn btn-large btn-primary">
              Cadastrar
            </button>
            <button id="edit" class="btn btn-large btn-primary">
              Editar
            </button>
            <button id="refresh" class="btn btn-large btn-primary">
              Estoque
            </button>
          </div>
        </header>
        <div class="center-horizontal hundred-margin">
          <image src="../../images/Logo-AmareloEpreto.png" class="image center" />
          <table class="table-striped" id="table-estoque">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Estoque</th>
                <th>Ativo</th>
                <th>Produtos do Combo</th>
                <th>Estoques Produto Combo</th>
                <th>Novo Estoque</th>
                <th>Salvar</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products">
                <td>{{ product.name }}</td>
                <td>
                  <a v-if="!product.combo">{{ product.qtdeProduct }}</a>
                  <a v-if="product.combo">-</a>
                </td>
                
                <td v-if="product.combo || product.qtdeProduct > 0">Ativo</td>
                <td v-if="!product.combo && product.qtdeProduct == 0">Não ativo</td>
                
                <td>
                  <a v-if="product.products.length === 0">-</a>
                  <a v-for="product_combo in product.products">
                    {{ product_combo.name }}
                    <b v-if="product_combo.$loki !== product.products[product.products.length -1 ].$loki">
                      /
                    </b>
                  </a>
                </td>

                <td>
                  <a v-if="product.products.length === 0">-</a>
                  <a v-if="product.products.length !== 0" v-for="product_combo in product.products">
                    {{ product_combo.qtdeProduct }}
                    <b v-if="product_combo.$loki !== product.products[product.products.length -1 ].$loki">
                      /
                    </b>
                  </a>
                </td>
                <td>
                  <input
                    v-if="!product.combo"
                    placeholder="Novo Estoque"
                    id="new_stoque"
                    type="number"
                    class="form-control new_stoque"
                  />
                  <a v-if="product.combo">-</a>
                </td>
                <td>
                  <button
                    v-if="!product.combo"
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="onSelectProduct(product)"
                  >
                    Salvar
                  </button>
                  <a v-if="product.combo">-</a>
                </td>
              </tr>
              <tr v-if="show"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </body>
    <script>
      const read = require('read-file-utf8')
      const loki = require('lokijs');
      const db = new loki('db.json');
      const data = read('db.json');
      db.loadJSON(data);
      const products = db.getCollection('products');
      window.vue = require('vue');
      new Vue({
        el: '#table-estoque',
        data: {
          products: [],
          show: false,
        },
        mounted: function() {
          this.products = products.data;
          this.show = false;
        },
        methods: {
          onSelectProduct: function(param, index) {
            var stoque = document.getElementsByClassName('new_stoque');
            for (var i = 0; i < stoque.length; i++) {
              if (stoque[i].value && param.$loki === this.products[i].$loki) {
                let data = {
                  ...param,
                  qtdeProduct: stoque[i].value,
                };
                
                products.data.map(product => {
                  product.products.map((item, index) => {
                    if (item.$loki == param.$loki) {
                      product.products[index] = data;
                      products.update(product);
                    }
                  });
                });

                products.update(data);
                db.save();
                alert('Estoque alterado com sucesso');
                stoque[i].value = '';
                this.show = !this.show;
              };
            };
          },
        },
      });
    </script>
  </html>