<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>288 Worship</title>
      <meta charset="utf-8"/>
      <link href="../../css/photon.css" rel="stylesheet"> 
      <script src="../../scripts/vue.js"></script>
      <script>require('./edit.js')</script>
      <script src="../../scripts/money.js"></script>
    </head>
    <body>
      <div class="window">
        <header class="toolbar toolbar-header">
          <div class="toolbar-actions">
            <button id="home" class="btn btn-large btn-default">
              <span class="icon icon-home"></span>
            </button>
            <button id="register" class="btn btn-large btn-primary">
              Cadastrar
            </button>
            <button id="edit" class="btn btn-large btn-primary">
              Editar
            </button>
            <button id="refresh" class="btn btn-large btn-primary">
              Estoque
            </button>
          </div>
        </header>
        <div class="tab-group">
          <div id="tab_formulario" class="tab-item active">
            <span id="span_tab_formulario" class="icon icon-cancel icon-close-tab"></span>
            Formulário
          </div>
          <div id="tab_stoque" class="tab-item">
            <span id="span_tab_stoque" class="icon icon-cancel icon-close-tab"></span>
            Estoque
          </div>
        </div>
        <div class="center" id="body-div">
          <div id="form" class="form-center topEdit">
            <form>
              <div v-if="currentProduct[0].combo" id="form-combo">
                <div class="form-group">
                  <label>Produtos Cadastrados</label>
                  <ul id="products">
                    <li @click="changeProduct(product)" class="plus-li" v-for="product in products">
                      {{product.name}}
                      <span class="btnIcon icon icon-plus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Produtos do Combo</label>
                  <ul id="product_combos">
                    <li @click="changeProduct(product)" class="minus-li" v-for="product in currentProduct[0].products">
                      {{product.name}}
                      <span class="btnIcon icon icon-minus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Quantidade do produto</label>
                  <ul id="qtde_product_combos">
                    <li v-for="product in currentProduct[0].products">
                      {{product.name}}
                      <input
                        class="product_combo_qtde"
                        type="text"
                        class="form-control"
                        placeholder="Qtde. Produto no Combo"
                        v-model="product.qtde_baixa"
                      />
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Nome Combo</label>
                  <input
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Nome Combo"
                    v-model="currentProduct[0].name"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crédito/Débito</label>
                  <money
                    id="value_card"
                    class="form-control"
                    placeholder="Valor Combo Crédito/Débito"
                    v-model="currentProduct[0].value_card"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Dinheiro</label>
                  <money
                    id="value_money"
                    class="form-control"
                    placeholder="Valor Combo Dinheiro"
                    v-model="currentProduct[0].value_money"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crachá</label>
                  <money
                    id="value_cracha"
                    class="form-control"
                    placeholder="Valor Combo Crachá"
                    v-model="currentProduct[0].value_cracha"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crédito/Débito Promocional</label>
                  <money
                    id="value_card_promo"
                    class="form-control"
                    placeholder="Valor Combo Crédito/Débito Promocional"
                    v-model="currentProduct[0].value_card_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Dinheiro Promocional</label>
                  <money
                    id="value_money_promo"
                    class="form-control"
                    placeholder="Valor Combo Dinheiro Promocional"
                    v-model="currentProduct[0].value_money_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crachá Promocional</label>
                  <money
                    id="value_cracha_promo"
                    class="form-control"
                    placeholder="Valor Combo Crachá Promocional"
                    v-model="currentProduct[0].value_cracha_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-actions center">
                  <button
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="clientStore"
                  >
                    Salvar
                  </button>
                </div>
              </div>
    
              <div v-if="!currentProduct[0].combo" id="form-product">
                <div class="form-group">
                  <label>Nome Produto</label>
                  <input
                    id="name_product"
                    class="form-control"
                    placeholder="Nome Produto"
                    v-model="currentProduct[0].name"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crédito/Débito</label>
                  <money
                    id="value_card_product"
                    class="form-control"
                    placeholder="Valor Produto Crédito/Débito"
                    v-model="currentProduct[0].value_card"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Dinheiro</label>
                  <money
                    id="value_money_product"
                    class="form-control"
                    placeholder="Valor Produto Dinheiro"
                    v-model="currentProduct[0].value_money"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crachá</label>
                  <money
                    id="value_cracha_product"
                    class="form-control"
                    placeholder="Valor Produto Crachá"
                    v-model="currentProduct[0].value_cracha"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crédito/Débito Promocional</label>
                  <money
                    id="value_card_promo_product"
                    class="form-control"
                    placeholder="Valor Produto Crédito/Débito Promocional"
                    v-model="currentProduct[0].value_card_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Dinheiro Promocional</label>
                  <money
                    id="value_money_promo_product"
                    class="form-control"
                    placeholder="Valor Produto Dinheiro Promocional"
                    v-model="currentProduct[0].value_money_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crachá Promocional</label>
                  <money
                    id="value_cracha_promo_product"
                    class="form-control"
                    placeholder="Valor Produto Crachá Promocional"
                    v-model="currentProduct[0].value_cracha_promo"
                    v-bind="money"
                  />
                </div>
                <div class="form-group">
                  <label>Qtde. Produto</label>
                  <input
                    id="qtdeProduct_product"
                    class="form-control"
                    placeholder="Qtde. Produto"
                  />
                </div>
                <div class="form-group">
                  <label>Qtde. Produto Atual</label>
                  <input
                    id="qtdeProduct_see"
                    class="form-control"
                    placeholder="Qtde. Produto Atual"
                    v-model="original_product.qtdeProduct"
                    disabled
                    style="background: #ddd"
                    class="disabled-input"
                  />
                </div>
                <div class="form-actions center">
                  <button
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="clientStore"
                  >
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="center-horizontal hundred-margin" id="stoque">
            <table class="table-striped" id="table-estoque">
              <thead>
                <tr>
                  <th style="text-align: center;">Estoque Origem</th>
                  <th style="text-align: center;">Ultimo estoque antes da alteração</th>
                  <th style="text-align: center;">Qtd. Alterada</th>
                  <th style="text-align: center;">Estoque após alteração</th>
                  <th style="text-align: center;">Estoque Atual</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="stoque in stoques">
                  <td style="text-align: center;"><a>{{ stoque.first_qtdeProduct }}</a></td>
                  <td style="text-align: center;"><a>{{ stoque.medium_qtdeProduct }}</a></td>
                  <td style="text-align: center;"><a>{{ stoque.stoqueAlter }}</a></td>
                  <td style="text-align: center;"><a>{{ stoque.last_qtdeProduct }}</a></td>
                  <td style="text-align: center;"><a>{{ original_product.qtdeProduct }}</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </body>
    <script>
      const read = require('read-file-utf8')
      const loki = require('lokijs');
      const path = require('path');
      let dbFile = path.resolve(__dirname, '../../db.json');
      const db = new loki(dbFile);
      const data = read(path.resolve(__dirname, '../../db.json'));
      db.loadJSON(data);
      const product = db.getCollection('product');
      const products = db.getCollection('products');
      const stoque_history = db.getCollection('history_stoque');
      
      window.vue = require('vue');
      new Vue({
        el: '#body-div',
        data: {
          currentProduct: [],
          products: [],
          original_product: {},
          stoques: [],
          money: {
            decimal: ',',
            thousands: '.',
            prefix: 'R$',
            suffix: '',
            precision: 2,
            masked: false,
          },
        },
        mounted: function() {
          this.currentProduct = product.data;
          this.original_product = {...product.data[0]};
          const products_combo = [...products.data];
          
          products_combo.filter((product, index) => {
            if (product.$loki === this.currentProduct[0].id) {
              delete products_combo[index];
            }
            
            return this.currentProduct[0].products.map(item => {
              if (item.$loki === product.$loki) {
                delete products_combo[index];
              }
            });
          });

          products_combo.filter(Boolean);
          this.products = products_combo.filter(item => !item.combo && item.qtdeProduct > 0);
          this.stoques = stoque_history.data.filter(item => item.id_product == this.original_product.id);
        },
        methods: {
          clientStore: async function() {
            const id_loki = this.currentProduct[0].id;
            delete this.currentProduct[0].id;
            delete this.currentProduct[0].$loki;
            delete this.currentProduct[0].qtdeProduct;
            const name  = document.querySelector('#name')
              ? document.querySelector('#name').value
              : document.querySelector('#name_product').value;
            const qtdeProduct = this.currentProduct[0].combo === false ? document.querySelector('#qtdeProduct_product').value : '';
            const value_card = document.querySelector('#value_card')
              ? document.querySelector('#value_card').value
              : document.querySelector('#value_card_product').value;
            const value_money = document.querySelector('#value_money')
              ? document.querySelector('#value_money').value
              : document.querySelector('#value_money_product').value;
            const value_cracha = document.querySelector('#value_cracha')
              ? document.querySelector('#value_cracha').value
              : document.querySelector('#value_cracha_product').value;
            const value_card_promo = document.querySelector('#value_card_promo')
              ? document.querySelector('#value_card_promo').value
              : document.querySelector('#value_card_promo_product').value;
            const value_money_promo = document.querySelector('#value_money_promo')
              ? document.querySelector('#value_money_promo').value
              : document.querySelector('#value_money_promo_product').value;
            const value_cracha_promo = document.querySelector('#value_cracha_promo')
              ? document.querySelector('#value_cracha_promo').value
              : document.querySelector('#value_cracha_promo_product').value;
            const insert_qtde_baixa = () => {
              const inputs = document.getElementsByClassName('product_combo_qtde');
              for(z = 0; z < inputs.length; z++) {
                return this.currentProduct[0].products[z].qtde_baixa = inputs[z].value;
              }
              return this.currentProduct[0].products;
            }
            const sum = () => {
              if (this.original_product.qtdeProduct != qtdeProduct) {
                if (qtdeProduct.substr(0) === '-') {
                  return Number(this.original_product.qtdeProduct) - Number(qtdeProduct);
                }

                return Number(this.original_product.qtdeProduct) + Number(qtdeProduct);
              }

              return this.original_product.qtdeProduct;
            }

            if (name === '' || value_card === ''
              || value_money === '' || value_cracha === '' || value_card_promo === ''
              || value_money_promo === '' || value_cracha_promo === '') {
              return alert('É necessário o preenchimento de todos os campos');
            }

            let data = {
              $loki: id_loki,
              name,
              qtdeProduct: sum(),
              value_card,
              value_money,
              value_cracha,
              value_card_promo,
              value_money_promo,
              value_cracha_promo,
              qtde_baixa: this.currentProduct[0].products.length ? insert_qtde_baixa() : "",
              ...this.currentProduct[0],
            };

            await stoque_history.insert({
              id_product: id_loki,
              first_qtdeProduct: this.currentProduct[0].first_qtdeProduct,
              medium_qtdeProduct: this.original_product.qtdeProduct,
              last_qtdeProduct: sum(),
              stoqueAlter: qtdeProduct,
            });

            await products.data.map(product => {
              product.products.map((item, index) => {
                if (item.$loki == data.$loki) {
                  product.products[index] = data;
                  products.update(product);
                }
              });
            });
            await products.update(data);
            db.save();
            window.location = '../ListProductScreen/listProduct.html';
            alert('editado com sucesso');
          },
          changeProduct: function(product) {
            const currentProduct = this.currentProduct[0].products.filter(item => item.$loki === product.$loki);
            
            if (currentProduct.length) {
              this.products.push(product);
              this.currentProduct[0].products = this.currentProduct[0].products.filter(item => item.$loki !== product.$loki);
              return this.currentProduct[0].products;
            }
            if (!currentProduct.length) {
              this.products = this.products.filter(item => item.$loki !== product.$loki);
              return this.currentProduct[0].products.push(product);
            }
          },
        },
      });
      
      document.querySelector('#tab_formulario').addEventListener('click', (e) => {
        document.querySelector('#form').style.display = 'block';
        document.querySelector('#stoque').style.display = 'none';
        document.querySelector('#tab_formulario').classList.add('active');
        document.querySelector('#tab_stoque').classList.remove('active');
      });

      document.querySelector('#tab_stoque').addEventListener('click', (e) => {
        document.querySelector('#form').style.display = 'none';
        document.querySelector('#stoque').style.display = 'block';
        document.querySelector('#tab_formulario').classList.remove('active');
        document.querySelector('#tab_stoque').classList.add('active');
      });

      document.querySelector('#edit').addEventListener('click', (e) => {
        e.preventDefault();
        window.location = '../ListProductScreen/listProduct.html';
        db.removeCollection('product');
        db.save();
      });
    </script>
  </html>