<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>288 Worship</title>
      <meta charset="utf-8"/>
      <link href="../../css/photon.css" rel="stylesheet"> 
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script>require('./edit.js')</script>
    </head>
    <body>
      <div class="window">
        <header class="toolbar toolbar-header">
          <div class="toolbar-actions">
            <button id="home" class="btn btn-large btn-default">
              <span class="icon icon-home"></span>
            </button>
            <button id="register" class="btn btn-large btn-primary">
              Cadastrar
            </button>
            <button id="edit" class="btn btn-large btn-primary">
              Editar
            </button>
            <button id="refresh" class="btn btn-large btn-primary">
              Estoque
            </button>
          </div>
        </header>
        <div class="center">
          <div class="form-center noTop">
            <form id="form-body">
              <div v-if="currentProduct.combo" id="form-combo">
                <div class="form-group">
                  <label>Produtos Cadastrados</label>
                  <ul id="products">
                    <li @click="changeProduct(product)" class="plus-li" v-for="product in products">
                      {{product.name}}
                      <span class="btnIcon icon icon-plus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Produtos do Combo</label>
                  <ul id="product_combos">
                    <li @click="changeProduct(product)" class="minus-li" v-for="product in currentProduct[0].products">
                      {{product.name}}
                      <span class="btnIcon icon icon-minus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-actions center">
                  <button
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="clientStore"
                  >
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
    <script>
      const read = require('read-file-utf8')
      const loki = require('lokijs');
      const db = new loki('db.json');
      const data = read('db.json');
      db.loadJSON(data);
      const product = db.getCollection('product');
      const products = db.getCollection('products');
      
      window.vue = require('vue');
      new Vue({
        el: '#form-body',
        data: {
          currentProduct: [],
          products: [],
        },
        mounted: function() {
          this.currentProduct = product.data;
          products.data.filter((product, index) => {
            if (product.$loki === this.currentProduct[0].id) {
              return products.data.splice(index, 1);
            }
            return this.currentProduct[0].products.map(item => {
              if (item.$loki === product.$loki) {
                return products.data.splice(index, 1);
              }
              return;
            });
          });
          this.products = products.data;
        },
        methods: {
          clientStore: function() {
            const id_loki = this.currentProduct[0].id;
            delete this.currentProduct[0].id;
            delete this.currentProduct[0].$loki
            let data = {
              $loki: id_loki,
              // name: document.querySelector('#name').value,
              // qtdeProduct: document.querySelector('#qtdeProduct').value,
              // value_card: document.querySelector('#value_card').value,
              // value_money: document.querySelector('#value_money').value,
              // value_cracha: document.querySelector('#value_cracha').value,
              // value_card_promo: document.querySelector('#value_card_promo').value,
              // value_money_promo: document.querySelector('#value_money_promo').value,
              // value_cracha_promo: document.querySelector('#value_cracha_promo').value,
              ...this.currentProduct[0],
            };
            console.log(data);
            // products.update(data);
            // db.save();
            // window.location = '../index.html';
            // alert('editado com sucesso');
          },
          changeProduct: function(product) {
            const currentProduct = this.currentProduct[0].products.filter(item => item.$loki === product.$loki);
            
            if (currentProduct.length) {
              this.products.push(product);
              this.currentProduct[0].products = this.currentProduct[0].products.filter(item => item.$loki !== product.$loki);
              console.log(this.currentProduct[0].products);
              return this.currentProduct[0].products;
            }
            if (!currentProduct.length) {
              this.products = this.products.filter(item => item.$loki !== product.$loki);
              return this.currentProduct[0].products.push(product);
            }
          },
        },
      });
      
      document.querySelector('#edit').addEventListener('click', (e) => {
        e.preventDefault();
        window.location = '../ListProductScreen/listProduct.html';
        db.removeCollection('product');
      });
    </script>
  </html>