<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>288 Worship</title>
      <meta charset="utf-8"/>
      <link href="../../css/photon.css" rel="stylesheet"> 
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script>require('./edit.js')</script>
    </head>
    <body>
      <div class="window">
        <header class="toolbar toolbar-header">
          <div class="toolbar-actions">
            <button id="home" class="btn btn-large btn-default">
              <span class="icon icon-home"></span>
            </button>
            <button id="register" class="btn btn-large btn-primary">
              Cadastrar
            </button>
            <button id="edit" class="btn btn-large btn-primary">
              Editar
            </button>
            <button id="refresh" class="btn btn-large btn-primary">
              Estoque
            </button>
          </div>
        </header>
        <div class="center">
          <div class="form-center noTop">
            <form id="form-body">
              <div v-if="currentProduct[0].products.length > 0" id="form-combo">
                <div class="form-group">
                  <label>Produtos Cadastrados</label>
                  <ul id="products">
                    <li @click="changeProduct" class="plus-li" v-for="product in products">
                      {{product.name}}
                      <span class="btnIcon icon icon-plus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Produtos do Combo</label>
                  <ul id="product_combos">
                    <li class="minus-li" v-for="product in currentProduct[0].products"> 
                      {{ product.name }}
                      <span class="btnIcon icon icon-minus"></span>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label>Nome Combo</label>
                  <input
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Nome Combo"
                    v-model="currentProduct[0].name"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crédito/Débito</label>
                  <input
                    id="value_card"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Crédito/Débito"
                    v-model="currentProduct[0].value_card"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Dinheiro</label>
                  <input
                    id="value_money"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Dinheiro"
                    v-model="currentProduct[0].value_money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crachá</label>
                  <input
                    id="value_cracha"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Crachá"
                    v-model="currentProduct[0].value_cracha"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crédito/Débito Promocional</label>
                  <input
                    id="value_card_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Crédito/Débito Promocional"
                    v-model="currentProduct[0].value_card_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Dinheiro Promocional</label>
                  <input
                    id="value_money_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Dinheiro Promocional"
                    v-model="currentProduct[0].value_money_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Combo Crachá Promocional</label>
                  <input
                    id="value_cracha_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Combo Crachá Promocional"
                    v-model="currentProduct[0].value_cracha_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Qtde. Combo</label>
                  <input
                    id="qtdeProduct"
                    type="number"
                    class="form-control"
                    placeholder="Qtde. Combo"
                    v-model="currentProduct[0].qtdeProduct"
                  />
                </div>
                <div class="form-actions center">
                  <button
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="clientStore"
                  >
                    Salvar
                  </button>
                </div>
              </div>
    
              <div v-if="currentProduct[0].products.length === 0" id="form-product">
                <div class="form-group">
                  <label>Nome Produto</label>
                  <input
                    id="name"
                    type="user"
                    class="form-control"
                    placeholder="Nome Produto"
                    v-model="currentProduct[0].name"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crédito/Débito</label>
                  <input
                    id="value_card"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Crédito/Débito"
                    v-model="currentProduct[0].value_card"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Dinheiro</label>
                  <input
                    id="value_money"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Dinheiro"
                    v-model="currentProduct[0].value_money"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crachá</label>
                  <input
                    id="value_cracha"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Crachá"
                    v-model="currentProduct[0].value_cracha"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crédito/Débito Promocional</label>
                  <input
                    id="value_card_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Crédito/Débito Promocional"
                    v-model="currentProduct[0].value_card_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Dinheiro Promocional</label>
                  <input
                    id="value_money_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Dinheiro Promocional"
                    v-model="currentProduct[0].value_money_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Valor Produto Crachá Promocional</label>
                  <input
                    id="value_cracha_promo"
                    type="number"
                    class="form-control"
                    placeholder="Valor Produto Crachá Promocional"
                    v-model="currentProduct[0].value_cracha_promo"
                  />
                </div>
                <div class="form-group">
                  <label>Qtde. Produto</label>
                  <input
                    id="qtdeProduct"
                    type="number"
                    class="form-control"
                    placeholder="Qtde. Produto"
                    v-model="currentProduct[0].qtdeProduct"
                  />
                </div>
                <div class="form-actions center">
                  <button
                    type="button"
                    class="btn btn-form btn-primary"
                    @click="clientStore"
                  >
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
    <script>
      const read = require('read-file-utf8')
      const loki = require('lokijs');
      const db = new loki('db.json');
      const data = read('db.json');
      db.loadJSON(data);
      const product = db.getCollection('product');
      const products = db.getCollection('products');
      var products_combo = product.data[0].products;
      
      
      window.vue = require('vue');
      new Vue({
        el: '#form-body',
        data: {
          currentProduct: [],
          products: [],
        },
        mounted: function() {
          this.currentProduct = product.data;
          products.data.filter((product, index) => {
            if (product.$loki === this.currentProduct[0].id) {
              return products.data.splice(index, 1);
            }
            return this.currentProduct[0].products.map(item => {
              if (item.$loki === product.$loki) {
                return products.data.splice(index, 1);
              }
              return;
            });
          });
          this.products = products.data;
        },
        methods: {
          clientStore: function() {
            const id_loki = this.currentProduct[0].id;
            delete this.currentProduct[0].id;
            delete this.currentProduct[0].$loki
            let data = {
              $loki: id_loki,
              products: products_combo,
              name: document.querySelector('#name').value,
              qtdeProduct: document.querySelector('#qtdeProduct').value,
              value_card: document.querySelector('#value_card').value,
              value_money: document.querySelector('#value_money').value,
              value_cracha: document.querySelector('#value_cracha').value,
              value_card_promo: document.querySelector('#value_card_promo').value,
              value_money_promo: document.querySelector('#value_money_promo').value,
              value_cracha_promo: document.querySelector('#value_cracha_promo').value,
              ...this.currentProduct[0],
            };
            console.log(data);
            // products.update(data);
            // db.save();
            // window.location = '../index.html';
            // alert('editado com sucesso');
          },
          changeProduct: function() {
            console.log('hdiowq')
            var plus = document.getElementsByClassName("plus-li");
            var minus = document.getElementsByClassName("minus-li");
            var i, j;

            for (i = 0; i < plus.length; i++) {
              plus[i].onclick = function() {
                products_combo.push(products.data[i - 1]);
                this.classList.add('minus-li');
                this.classList.remove('plus-li');
                this.lastChild.classList.remove('icon-plus');
                this.lastChild.classList.add('icon-minus');
                document.querySelector('#product_combos').appendChild(this);
              };
            }

            for (j = 0; j < minus.length; j++) {
              minus[j].onclick = function() {
                console.log('hdiowqjdo');
              };
            }
          },
        },
      });
      document.querySelector('#edit').addEventListener('click', (e) => {
        e.preventDefault();
        window.location = '../ListProductScreen/listProduct.html';
        db.removeCollection('product');
      });
    </script>
  </html>