<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>288 Worship</title>
    <meta charset="utf-8"/>
    <link href="../css/photon.css" rel="stylesheet"> 
    <script>require('./renderer.js')</script>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
          <button id="home" class="btn btn-large btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button id="register" class="btn btn-large btn-primary">
            Cadastrar
          </button>
          <button id="edit" class="btn btn-large btn-primary">
            Editar
          </button>
          <button id="refresh" class="btn btn-large btn-primary">
            Estoque
          </button>
        </div>
      </header>
      <div class="center-horizontal hundred-margin">
        <image src="../images/Logo-AmareloEpreto.png" class="image center" />
        <table id="app" class="table table-striped">
          <thead>
            <tr>
              <th v-for="product in products">
                {{product.nome}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td v-for="product in products">
                {{product.nome}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    const read = require('read-file-utf8')
    const loki = require('lokijs');
    const db = new loki('db.json', {
      autosave: true,
      autosaveInterval: 1000* 20 * 1,
      autoload: true,
    });
    const data = read('db.json');
    db.loadJSON(data);
    const products = db.getCollection('products');
    const users = db.getCollection('users');
    const isLogged = users.data[0] && users.data[0].logged;

    if (!users.data[0] && users.data.length != 1) {
      users.insert({
        user: '288Worship',
        password: '288Worshipbanc2018',
        logged: false,
      });
      db.save();
    }

    window.vue = require('vue');
    new Vue({
      el: '#app',
      data: {
        products: [],
      },
      mounted: function() {
        this.products = products.data;
      }
    });
    console.log(db);

    document.querySelector('#register').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged 
        ? '../screens/RegisterScreen/register.html'
        : `../screens/authScreen/auth.html?screen=RegisterScreen/register.html`;
    });

    document.querySelector('#edit').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged
        ? '../screens/EditScreen/edit.html'
        : '../screens/authScreen/auth.html?screen=EditScreen/edit.html';
    });

    document.querySelector('#refresh').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged
        ? '../screens/RefreshScreen/refresh.html'
        : '../screens/authScreen/auth.html?screen=RefreshScreen/refresh.html';
    });
  </script>
</html>
