<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>288 Worship</title>
    <meta charset="utf-8"/>
    <link href="../css/photon.css" rel="stylesheet"> 
    <script src="../scripts/vue.js"></script>
    <script src="../scripts/jsBarCode.js"></script>
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
          <button id="home" class="btn btn-large btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button id="register" class="btn btn-large btn-primary">
            Cadastrar
          </button>
          <button id="edit" class="btn btn-large btn-primary">
            Editar
          </button>
          <button id="refresh" class="btn btn-large btn-primary">
            Estoque
          </button>
        </div>
      </header>
      <div class="center-horizontal hundred-margin" id="app">
        <image src="../images/Logo-AmareloEpreto.png" class="image center" />
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="text-align: center;" v-for="product in products.filter((item, index) => index < middle_array ? item : null)">
                  {{product.name}}
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="text-align: center;" v-for="product in products.filter((item, index) => index >= middle_array ? item : null)">
                  {{product.name}}
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
      </div>
    </div>
  </body>
  <script>
    let newWindow;
    let show = false;
    const read = require('read-file-utf8')
    const loki = require('lokijs');
    const path = require('path');
    let dbFile = path.resolve(__dirname, '../db.json');
    const db = new loki(dbFile);
    db.save();
    const data = read(path.resolve(__dirname, '../db.json'));
    db.loadJSON(data);
    
    let count_cart = 0;
    let products_data;
    let middle_array;
    let product_up_for;
    let product_down_for;
    let users = db.getCollection('users');
    if (!users) {
      users = db.addCollection('users');
      db.addCollection('history_stoque');
      db.save();
    } else {
      db.getCollection('history_stoque');
      users = db.getCollection('users')
      db.save();
    }

    if (!users.data[0] && users.data.length != 1) {
      users.insert({
        user: '288Worship',
        password: '288Worshipbanc2019',
        logged: false,
      });
      db.save();
    }

    const products = db.getCollection('products');
    const isLogged = users.data[0] && users.data[0].logged;

    const handleNewBrowser = () => {
      const electron = require('electron');
      const BrowserWindow = electron.remote.BrowserWindow;
      newWindow = new BrowserWindow({
        width: 500,
        height: 500,
      });
      newWindow.loadFile(`${__dirname}/cart.html`);
      newWindow.webContents.openDevTools();
      newWindow.on('closed', function () {
        newWindow = null;
      });
      show = true;
      let cart = db.getCollection('cart');
      if (cart === null) {
        cart = db.addCollection('cart');
      }

      if (count_cart === 0) {
        cart.removeDataOnly();
        count_cart = 1;
      }
      db.save();
    }

    window.vue = require('vue');
    new Vue({
      el: '#app',
      data: {
        products: [],
      },
      mounted: function() {
        middle_array = (products.data.length / 2);
        this.products_up = products.data.filter((item, index) => index < middle_array ? item : null);
        this.products_down = products.data.filter((item, index) => index >= (middle_array) ? item : null);
        this.products = products.data;
        if (!newWindow) {
          handleNewBrowser();
        }
        for (i = 0; i < 3; i++) {
          document.getElementsByTagName('tbody')[0].innerHTML += `<tr id="tr${i}"></tr>`;
        }
        for(j = 0; j < this.products_up.length; j++) {
          document.querySelector('#tr0').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Crachá </span>
                ${this.products_up[j].qtdeProduct <= 0 && this.products_up[j].combo === false
                  ? 'Produto sem estoque'
                  : `<svg
                    id="svg${j}_${i}"
                    jsbarcode-value="${this.products_up[j].value_cracha}-${this.products_up[j].$loki}"
                    jsbarcode-displayValue="true"
                    jsbarcode-height="50"
                  />`
                }
              </div>
            </td>`;
          document.querySelector('#tr1').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Dinheiro </span>
                ${this.products_up[j].qtdeProduct <= 0 && this.products_up[j].combo === false
                  ? 'Produto sem estoque'
                  : `<svg
                      id="svg${j + 1}_${i + 1}"
                      jsbarcode-value="${this.products_up[j].value_money}-${this.products_up[j].$loki}"
                      jsbarcode-displayValue="true"
                      jsbarcode-height="50"
                    />`
                }
              </div>
            </td>`;
          document.querySelector('#tr2').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Cartão </span>
                ${this.products_up[j].qtdeProduct <= 0 && this.products_up[j].combo === false
                  ? 'Produto sem estoque'
                  : `<svg
                      id="svg${j + 2}_${i + 2}"
                      jsbarcode-value="${this.products_up[j].value_card}-${this.products_up[j].$loki}"
                      jsbarcode-displayValue="true"
                      jsbarcode-height="50"
                    />`
                }
              </div>
            </td>`;
          JsBarcode(`#svg${j}_${i}`).init();
          JsBarcode(`#svg${j + 1}_${i + 1}`).init();
          JsBarcode(`#svg${j + 2}_${i + 2}`).init();
        }

        for (k = 0; k < 3; k++) {
          document.getElementsByTagName('tbody')[1].innerHTML += `<tr id="trBodyDown${k}"></tr>`;
        }
        for(x = 0; x < this.products_down.length; x++) {
          document.querySelector('#trBodyDown0').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Crachá </span>
                ${this.products_down[x].qtdeProduct <= 0 && this.products_down[x].combo === false
                    ? 'Produto sem estoque'
                    : `<svg
                      id="svg${x}_${k}"
                      jsbarcode-value="${this.products_down[x].value_cracha}-${this.products_down[x].$loki}"
                      jsbarcode-displayValue="true"
                      jsbarcode-height="50"
                    />`
                }
              </div>
            </td>`;
          document.querySelector('#trBodyDown1').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Dinheiro </span>
                ${this.products_down[x].qtdeProduct <= 0 && this.products_down[x].combo === false
                    ? 'Produto sem estoque'
                    : `<svg
                        id="svg${x + 1}_${k + 1}"
                        jsbarcode-value="${this.products_down[x].value_money}-${this.products_down[x].$loki}"
                        jsbarcode-displayValue="true"
                        jsbarcode-height="50"
                      />`
                }
              </div>
            </td>`;
          document.querySelector('#trBodyDown2').innerHTML += `
            <td>
              <div class="tr_body">
                <span> Valor Cartão </span>
                ${this.products_down[x].qtdeProduct <= 0 && this.products_down[x].combo === false
                  ? 'Produto sem estoque'
                  : `<svg
                      id="svg${x + 2}_${k + 2}"
                      jsbarcode-value="${this.products_down[x].value_card}-${this.products_down[x].$loki}"
                      jsbarcode-displayValue="true"
                      jsbarcode-height="50"
                    />`
                }
              </div>
            </td>`;
          JsBarcode(`#svg${x}_${k}`).init();
          JsBarcode(`#svg${x + 1}_${k + 1}`).init();
          JsBarcode(`#svg${x + 2}_${k + 2}`).init();
          JsBarcode(`#svg${x + 3}_${k + 3}`).init();
        }
      },
    });

    document.querySelector('#register').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged
        ? '../screens/RegisterScreen/register.html'
        : `../screens/authScreen/auth.html?screen=RegisterScreen/register.html`;
    });

    document.querySelector('#edit').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged
        ? '../screens/ListProductScreen/listProduct.html'
        : '../screens/authScreen/auth.html?screen=ListProductScreen/listProduct.html';
    });

    document.querySelector('#refresh').addEventListener('click', (e) => {
      e.preventDefault();
      window.location = isLogged
        ? '../screens/RefreshScreen/refresh.html'
        : '../screens/authScreen/auth.html?screen=RefreshScreen/refresh.html';
    });
    document.querySelector('#home').addEventListener('dblclick', (e) => {
      e.preventDefault();
      if (!newWindow) {
        handleNewBrowser();
      }
    });
  </script>
</html>
